<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>NodeAuth</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/demo.css">
        <link rel="stylesheet" href="/stylesheets/material-kit.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
            {{/each}}
        {{/if}}
        {{{body}}}
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/material-kit.js"></script>
        <script src="/javascripts/material.min.js"></script>
    </body>
</html>
